* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: pointer; */
}

:root {
  --light: aliceblue;
  --dark: rgb(37, 37, 37);
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  /* text-decoration: none; */
  color: inherit;
}

/* font-family: 'Cinzel', serif;
font-family: 'Kaushan Script', cursive; */

a:hover {
  color: inherit;
  opacity: 0.8;
}

h1 {
  font-family: "Permanent Marker", cursive;
}

h2 {
  font-family: "Cinzel", serif;
}

h3 {
  font-family: "Zen Kurenaido", sans-serif;
}

h3 i {
  font-size: 20px;
}

h4,
span.fs-6,
strong {
  font-family: "Merriweather", serif;
  font-weight: bold;
}

h6,
span.fs-6.duration {
  font-family: "Cutive Mono", monospace;
}

section#landing {
  /* background-color: rgb(37, 37, 37); */
  background-color: var(--light);
  color: rgb(219, 219, 219);
  z-index: 5;
}

section#body {
  z-index: 2;
  /* background-color: rgb(37, 37, 37); */
  /* color: aliceblue; */
  background-color: var(--light);
  color: var(--dark);
}

div#hamburger {
  font-size: 30px;
}

nav {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  top: 0;
  height: 100vh;
  /* height: 100%; */
  left: -100%;
  transition: 0.5s ease;
  /* z-index: 3; */
}

nav.open {
  left: 0;
}

nav > h2 {
  margin: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
}

nav > ul {
  width: 60%;
}

nav ul {
  /* width: 60%; */
  background-color: white;
  color: gray;
  height: 100%;
  list-style-type: none;
  overflow-y: auto;
  background-color: blanchedalmond;
}

nav > ul li {
  list-style-type: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

div#portfolio {
  width: 60%;
  margin: 0 auto;
}

#tag-line {
  font-size: 2.5rem;
  /* word-break: break-all; */
  hyphens: auto;
  font-family: "Zen Kurenaido", sans-serif;
}

h2#contact-info + table a {
  text-decoration: none;
  font-style: italic;
}

q {
  background-color: var(--dark);
  color: var(--light);
  font-family: "Zen Kurenaido", sans-serif;
  /* vertical-align: middle; */
}

/* q::before {
  font-size: 100px;
  line-height: 0.5;
  float: left;
} */

@media (min-width: 576px) {
  nav > ul {
    width: 40%;
  }
}

@media (min-width: 768px) {
  div#hamburger {
    display: none;
  }
  nav {
    position: sticky;
    bottom: 0;
    width: 30%;
  }
  nav > ul {
    min-height: 100vh;
  }
  nav > h2 {
    color: inherit;
    background-color: wheat;
  }
  nav ul {
    width: 100%;
  }
  #tag-line {
    font-size: 3.5rem;
  }
}

@media (min-width: 992px) {
  nav {
    width: 20%;
  }
}

@media (min-width: 1200px) {
}
